/* Estilizando Cursor do Mouse */
body {
    cursor: url("../assets/cursor/yugicursor.png"), default;
}

/* Setando cursor especial em alguns casos: */
button,
a,
img:hover,
button:hover,
a:hover{
    cursor: url("../assets/cursor/yamiyugicursorGLOW.png"), auto
}

/* Manipulando o vídeo de fundo */
.bg-video {
    /* Para poder manipular o video */
    position: absolute;
    /* Deixar o vídeo como plano de fundo de tudo. O "z-index" controla a dimensão Z, que seria a profundidade em termos matemáticos (plano cartesiano): */
    z-index: -2;
    width: 100vw;
    height: 100vh;
    /* Não mostrar conte´do do vídeo que ultrapassa a div */
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.bg-video .video {
    height: 100vh;
}

/* Deixando o vídeo de fundo mais escuro para não ser percebido com um pseudo-elemento */  
.bg-video::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
        90deg,
        rgba(0,0,0,1) 0%,
        rgba(0,0,0,0.8) 50%,
        rgba(0,0,0,1) 100%
    );
}

/* Jogando o container geral na frente do vídeo de fundo: */
.container {
    /* Os filhos são relativos aos pais absolutos! */
    position: relative;
    /* Para garantir que o container e seus elementos ficarão a frente do vídeo de fundo, usamos um valor positivo no "z-index", responsável pela profundidade dos elementos: */
    z-index: 3;
    display: flex;
    height: 100vh;
}

/* Estilizando o container-left: */
.container__left {
    width: 35%;
    min-width: 300px;
    display: flex;
    /* Colocando os elementos um embaixo do outro */
    flex-direction: column;
    align-items: center;
    /* Colocando espaçamento entre os elementos no container (pontuação - avatar da carta - atributos da carta). */
    justify-content:space-around;
}

/* Estilizando o container right */
.container__right {
    width: 75%;
}

/* Estilizando a caixa de pontuação */
.score_box {
    background-color: #fff;
    padding: 30px;
}

/* Criando uma espécie de sombra ao redor da caixa de pontuação. A classe frame foi criada somente para isso. */
.frame {
    border: 3px solid #000;
    border-radius: 5px;
}

/* Estilizando os detalhes da carta */
.card_details {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    width: 100%;
}

/* Estilizando os elementos dos detalhes da carta particularmente */
#card-name {
    font-size: 0.8rem;
}

#card-type {
    font-size: 1rem;
}

/* Estilizando o Card-Box Container */
.card-box__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.3rem;
}

/* Colocando o comparador de cartas em linna */
.card-versus__container {
    /* Para desgrudar o comparador de cartas do container das cartas da máquina (encima) e centralizar. */
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    padding-top: 2.8rem;
    height: 300px; 
}

/* Estilizando os containers "versus-top" e "versus-botton" ao mesmo tempo */
.versus-top,
.versus-botton {
    /* Jogando os elementos em linha com "display:flex" */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Acrescentando estilização extra no versus-botton */
.versus-botton {
    margin-top: 1rem;
}

/* Estilização do botão */
#next-duel {
    /* Permanecerá em "none" ´porque ele só deve aparecer no fim do duelo. */
    display: none;
}

/* Estilizando as caixas de cartas do usuário e do computador */
.card-box {
    height: 9rem;
    width: 100%;
    display: flex;
    /* Manter o encaixe das cartas em linha */
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* Estilizando o encaixe das cartas para comparação no jogo (card-infield) */
.card-infield {
    height: 11.2rem;
    width: 8rem;
    border: 1px solid #fff;
    border-radius: 8px;
}

/* Personalizando as Cartas e o Over das Cartas com um Zoom */
.card {
    /* Duração do Zomm de aproximação e saída */
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.2);
}

/* Classe de debug */
.debug{
    border: 1px solid red;
}