body {
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    background-color: antiquewhite;
}

#bg-code {
    margin-top: -150px;
    width: 1200px;
    height: 200px;
    box-shadow: -5px 6px 15px black;
    border-radius: 5px ;
}

.imagem {
    position: relative;
    width: 195px;
    height: 195px;
    border-radius: 50%;
    cursor: pointer;
    margin: 20px 5px;
    box-shadow: 15px 5px 20px rgb(2, 1, 12);
}

.saudacao {
  opacity: 0;
  transition: opacity 2s ease;
}

.fadeIn {
    opacity: 1;
  }

#mensagemSaudacao {
    margin: 20px 8px;
    background-color: rgb(176, 243, 243);
    padding: 15px;
    text-align: justify;
}

#bg-code {
    transition: transform 0.5s ease-in-out;
}

#bg-code.empurre {
    transform: translateY(150px);
}

.imagem {
    /* Duração do Zoom em segundos: */
    transition: transform 1.2s;
}

.imagem:hover {
    transform: scale(1.2);
}

#nome-completo h1{
    border-radius: 5px;
    width: 28.2rem;
    margin-left: 20px;
    margin-top: 25px;

}

.balao-mensagem {
    display: none;
    position: absolute;
    top: 120px;
    left: 22%;
    transform: translateX(-50%);
    background-color: #403e45;
    color: #f9f4f4;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
.elemento-com-balao:hover .balao-mensagem {
    display: block;
}

/* Para remover as marcadores do lado dos elementos da lista */
.contacts-list li{
    list-style-type: none;
}

/* Para remover qualquer marca de formatação (ex: sublinhados) que houver no texto */
.contacts-list li a {
    text-decoration: none;
}

